In [2]:
import pandas as pd
import json

PLAYTIME_THRESHOLD = 10

def convert_game(game: object) -> pd.Series:
    game = pd.json_normalize(game)
    game["playtime_forever"] = game["playtime_forever"].apply(lambda p: p / 60)
    game = game.where(lambda p: p["playtime_forever"] > PLAYTIME_THRESHOLD).dropna()
    return game

games = pd.read_json("games.json")
games["games"] = games["games"].apply(convert_game)
games["games"][0]

        appid  playtime_forever
3    218620.0         10.800000
10      730.0        688.800000
13   470220.0         16.400000
15   360430.0         33.183333
16   289070.0         28.483333
20   252950.0       2871.683333
22   578080.0        199.066667
25   695290.0        136.433333
41  1089350.0         64.366667

In [3]:
def convert_game_info(gi):
    gi["appid"] = gi["game_info"]["steam_appid"]
    gi["name"] = gi["game_info"]["name"]
    if gi["game_info"]["genres"] is None:
        gi["game_info"]["genres"] = []
    gi["genres"] = list(map(lambda g: g["description"], gi["game_info"]["genres"]))
    if len(gi["reviews"]) > 0:
        gi["reviews"] = round(float(gi["reviews"][0]["weighted_vote_score"]), ndigits=2)
    else:
        return None
    return gi

game_info = pd.read_json("game_info.json")
game_info = game_info.apply(convert_game_info, axis=1)
game_info

,game_info,reviews,review_summary,appid,name,genres
0,"{'name': 'Warframe', 'steam_appid': 230410, 'g...",0.52,"{'review_score': 8.0, 'total_positive': 1009, ...",230410.0,Warframe,"[Action, Free to Play]"
1,"{'name': 'Rust', 'steam_appid': 252490, 'genre...",0.91,"{'review_score': 8.0, 'total_positive': 169918...",252490.0,Rust,"[Action, Adventure, Indie, Massively Multiplay..."
2,"{'name': 'Grand Theft Auto: San Andreas', 'ste...",0.52,"{'review_score': 7.0, 'total_positive': 39, 't...",12250.0,Grand Theft Auto: San Andreas,[]
3,"{'name': 'Grand Theft Auto: San Andreas', 'ste...",0.77,"{'review_score': 8.0, 'total_positive': 12549,...",12120.0,Grand Theft Auto: San Andreas,[Action]
4,"{'name': 'Game Dev Tycoon', 'steam_appid': 239...",0.70,"{'review_score': 8.0, 'total_positive': 16966,...",239820.0,Game Dev Tycoon,"[Casual, Indie, Simulation, Strategy]"
...,...,...,...,...,...,...
15821,"{'name': 'The Wind Road 紫塞秋风', 'steam_appid': ...",0.55,"{'review_score': 8.0, 'total_positive': 52, 't...",1264670.0,The Wind Road 紫塞秋风,"[Action, Adventure, Indie, RPG]"
15822,{'name': 'Stifled - Echolocation Horror Myster...,0.59,"{'review_score': 6.0, 'total_positive': 14, 't...",514830.0,Stifled - Echolocation Horror Mystery,"[Action, Adventure, Indie, Simulation]"
15823,"{'name': 'Shoot 1UP', 'steam_appid': 373610, '...",0.62,"{'review_score': 7.0, 'total_positive': 41, 't...",373610.0,Shoot 1UP,"[Action, Indie]"
15824,{'name': 'State of War : Warmonger / 蓝色警戒 (Cla...,0.54,"{'review_score': 8.0, 'total_positive': 51, 't...",748040.0,State of War : Warmonger / 蓝色警戒 (Classic 2000),"[Action, Strategy]"
15825,"{'name': 'Monsters and Monocles', 'steam_appid...",0.77,"{'review_score': 5.0, 'total_positive': 29, 't...",328510.0,Monsters and Monocles,"[Action, Indie, Early Access]"

In [29]:
from sklearn.preprocessing import Normalizer

def convert_to_percentage(game_time: object)-> pd.Series:
    print(game_time)
    playtime_sum = sum(game_time)
    for i, playtime in enumerate(game_time):
        X[i] = (playtime / playtime_sum) * 100
    return game_time

for i in range(len(games["games"])):
    games["games"][i]["playtime_forever"] = convert_to_percentage(games["games"][i]["playtime_forever"])

 float64
0     31.433333
2    248.100000
3     44.416667
4     18.266667
Name: playtime_forever, dtype: float64
1      17.483333
5      11.316667
10    557.216667
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
Series([], Name: playtime_forever, dtype: float64)
Series([], Name: playtime_forever, dtype: float64)
0    177.683333
Name: playtime_forever, dtype: float64
26    259.916667
27     17.033333
Name: playtime_forever, dtype: float64
4    102.383333
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
1    203.25
Name: playtime_forever, dtype: float64
1    81.916667
2    26.083333
Name: playtime_forever, dtype: float64
1     20.833333
4     10.250000
5     44.850000
7    328.566667
9     45.266667
Name: playtime_forever, dtype: float64
1    755.95
Name: playtime_forever, dtype: float64
2     10.633333
3     18.983333
4    502.416667
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
0    287.033333
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
0     12.100000
2    137.583333
Name: playtime_forever, dtype: float64
0    44.05
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
3    51.083333
Name: playtime_forever, dtype: float64
0    544.183333
Name: playtime_forever, dtype: float64
0    13.666667
1    73.533333
Name: playtime_forever, dtype: float64
0    1119.983333
Name: playtime_forever, dtype: float64
0    382.433333
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
Series([], Name: playtime_forever, dtype: float64)
0     57.350000
1    108.183333
Name: playtime_forever, dtype: float64
0    195.500000
3     43.466667
Name: playtime_forever, dtype: float64
2      45.600000
6      16.133333
7      23.066667
12     47.716667
16     27.150000
19     52.116667
22     10.316667
24     17.983333
30     14.533333
34     31.033333
40     17.050000
47     48.350000
48     10.416667
49     24.266667
51    418.600000
53    101.250000
57     28.583333
61     34.450000
71     28.716667
73    304.433333
76     40.583333
78     19.050000
85     32.200000
86     89.750000
87     30.550000
Name: playtime_forever, dtype: float64
0     101.666667
6      35.133333
9     120.800000
11    233.800000
Name: playtime_forever, dtype: float64
1    668.716667
Name: playtime_forever, dtype: float64
0    623.85
Name: playtime_forever, dtype: float64
1      11.850000
2     239.700000
6     375.633333
7      10.783333
8     598.266667
13    699.266667
15     32.900000
16     22.716667
Name: playtime_forever, dtype: float64
3     75.650000
4    414.216667
5     14.183333
Name: playtime_forever, dtype: float64
0     31.433333
2    248.100000
3     44.416667
4     18.266667
Name: playtime_forever, dtype: float64
1      17.483333
5      11.316667
10    557.216667
Name: playtime_forever, dtype: float64
1    136.416667
4    293.766667
5     89.166667
Name: playtime_forever, dtype: float64
26    259.916667
27     17.033333
Name: playtime_forever, dtype: float64
1    203.25
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
0     12.100000
2    137.583333
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
Series([], Name: playtime_forever, dtype: float64)
Series([], Name: playtime_forever, dtype: float64)
2    11.683333
6    21.650000
7    32.100000
9    21.966667
Name: playtime_forever, dtype: float64
1      20.350000
36    366.833333
37    429.633333
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
0    44.05
Name: playtime_forever, dtype: float64
2      26.133333
24    115.716667
25     23.283333
31     12.500000
39     17.200000
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
2     14.166667
3    682.616667
Name: playtime_forever, dtype: float64
0     285.216667
7      27.600000
12     11.350000
15     25.083333
34     11.650000
64     12.350000
84     16.033333
Name: playtime_forever, dtype: float64
3      61.466667
5     116.483333
6      45.783333
8      17.366667
9      74.766667
10     13.950000
12     55.783333
13     26.200000
17    520.950000
19     17.466667
22    313.466667
24     10.983333
25     13.200000
26     19.333333
27     14.800000
32     34.766667
Name: playtime_forever, dtype: float64
0     27.983333
1    325.383333
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
2      11.800000
3     127.650000
7     249.233333
9      19.800000
15     15.483333
19    550.200000
23     11.766667
25     25.500000
Name: playtime_forever, dtype: float64
10    784.916667
11     10.366667
12     15.433333
Name: playtime_forever, dtype: float64
2      10.45
8      14.65
12    268.45
Name: playtime_forever, dtype: float64
8      64.550000
9      52.633333
15    817.033333
Name: playtime_forever, dtype: float64
3    68.233333
4    57.300000
Name: playtime_forever, dtype: float64
2    465.833333
Name: playtime_forever, dtype: float64
1     20.450000
2     19.733333
6     11.600000
7    303.400000
Name: playtime_forever, dtype: float64
0     15.000000
7    388.300000
8     10.033333
Name: playtime_forever, dtype: float64
0     28.366667
1     30.116667
3    744.483333
Name: playtime_forever, dtype: float64
0      11.716667
9      22.000000
13    177.433333
Name: playtime_forever, dtype: float64
2    103.116667
Name: playtime_forever, dtype: float64
0    37.116667
Name: playtime_forever, dtype: float64
2      45.600000
6      16.133333
7      23.066667
12     47.716667
16     27.150000
19     52.116667
22     10.316667
24     17.983333
30     14.533333
34     31.033333
40     17.050000
47     48.350000
48     10.416667
49     24.266667
51    418.600000
53    101.250000
57     28.583333
61     34.450000
71     28.716667
73    304.433333
76     40.583333
78     19.050000
85     32.200000
86     89.750000
87     30.550000
Name: playtime_forever, dtype: float64
9      11.416667
11    246.050000
12    452.400000
Name: playtime_forever, dtype: float64
1    25.766667
5    37.783333
6    39.216667
8    15.350000
9    10.800000
Name: playtime_forever, dtype: float64
1    730.8
Name: playtime_forever, dtype: float64
0    300.133333
1     12.583333
2     14.133333
Name: playtime_forever, dtype: float64
0     12.100000
2    137.583333
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
3      48.183333
5      70.950000
6      19.233333
7      21.066667
11     26.416667
12    351.550000
13     15.300000
14    245.416667
Name: playtime_forever, dtype: float64
2      813.333333
8     1338.483333
19    1144.483333
25      11.533333
26      12.783333
29      17.966667
Name: playtime_forever, dtype: float64
1      20.300000
31    209.200000
32     18.666667
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
Series([], Name: playtime_forever, dtype: float64)
25      41.700000
26      26.966667
28    1476.350000
36    1312.766667
47      15.283333
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
2       54.116667
3       15.733333
6       38.766667
10    1758.016667
13      25.250000
14     138.366667
18      19.816667
19      10.033333
Name: playtime_forever, dtype: float64
6       21.483333
14    1546.150000
Name: playtime_forever, dtype: float64
2       41.883333
3       33.100000
4       22.233333
14      19.366667
17      22.533333
25      35.316667
27      18.933333
28      69.833333
30      10.166667
32      61.233333
36      10.800000
38      26.366667
43      22.783333
45      17.383333
46      85.466667
49      22.466667
50      14.600000
52      10.700000
54      44.783333
55    1133.883333
Name: playtime_forever, dtype: float64
3      54.333333
5    2911.783333
Name: playtime_forever, dtype: float64
2      13.933333
5      16.383333
6    1502.383333
7     724.933333
Name: playtime_forever, dtype: float64
0     28.083333
2     15.866667
3     28.983333
6    102.766667
Name: playtime_forever, dtype: float64
3     30.800000
4    131.233333
Name: playtime_forever, dtype: float64
0      566.450000
3      426.150000
6       16.016667
7       56.666667
10      35.400000
11     417.550000
13    1280.216667
14      11.266667
Name: playtime_forever, dtype: float64
1    513.850000
4     22.833333
Name: playtime_forever, dtype: float64
0     69.450000
1    367.466667
Name: playtime_forever, dtype: float64
0    3583.766667
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
Series([], Name: playtime_forever, dtype: float64)
1    152.766667
2     11.350000
3    194.666667
5     49.200000
Name: playtime_forever, dtype: float64
0     20.800000
2    924.233333
Name: playtime_forever, dtype: float64
5     142.250000
8     732.516667
17    121.566667
19     15.016667
21     15.416667
27     11.100000
29     10.283333
30    162.366667
31     18.483333
36     23.650000
38     25.616667
39     59.483333
43     12.200000
51     22.933333
53     48.766667
Name: playtime_forever, dtype: float64
0     41.683333
1    221.750000
Name: playtime_forever, dtype: float64
1    576.333333
2     13.833333
Name: playtime_forever, dtype: float64
1     13.650000
3     56.466667
4     12.233333
5    619.216667
7    500.133333
9     20.050000
Name: playtime_forever, dtype: float64
0    149.733333
2     31.866667
6    288.900000
7    432.316667
Name: playtime_forever, dtype: float64
25    246.250000
27    155.983333
Name: playtime_forever, dtype: float64
3      13.833333
4      30.300000
34     17.250000
35    466.650000
37    606.750000
48     36.900000
Name: playtime_forever, dtype: float64
27     27.516667
28     53.366667
30    418.083333
31    130.016667
34     11.700000
Name: playtime_forever, dtype: float64
2      13.816667
7      46.316667
8     458.500000
10     17.233333
Name: playtime_forever, dtype: float64
3    1468.983333
Name: playtime_forever, dtype: float64
1    236.916667
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
Series([], Name: playtime_forever, dtype: float64)
0    1004.383333
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
1    272.0
Name: playtime_forever, dtype: float64
6       17.716667
8      125.766667
15      22.483333
18      15.666667
21    1026.750000
23     480.366667
24      53.900000
Name: playtime_forever, dtype: float64
0    61.5
Name: playtime_forever, dtype: float64
1    395.566667
Name: playtime_forever, dtype: float64
1    480.083333
4     10.933333
Name: playtime_forever, dtype: float64
25    340.85
Name: playtime_forever, dtype: float64
0    300.116667
Name: playtime_forever, dtype: float64
1      34.700000
8     206.783333
12     22.733333
14     57.483333
15     20.050000
19     13.750000
31    165.333333
33     10.483333
34     26.016667
38    242.716667
39    212.783333
40     14.316667
41     22.616667
44     93.983333
45     11.000000
47     18.950000
48    695.650000
50     18.250000
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
1      36.866667
2      25.450000
3      21.983333
4     257.166667
41     12.033333
45    496.950000
50     14.700000
Name: playtime_forever, dtype: float64
4      722.783333
7       24.433333
13    1140.950000
22      33.316667
25      11.300000
29     832.416667
31      11.850000
35      15.633333
48      36.116667
55      14.466667
Name: playtime_forever, dtype: float64
22     20.733333
27     46.716667
29    890.716667
34     13.166667
37     10.733333
38     10.800000
41     11.266667
Name: playtime_forever, dtype: float64
9     173.750000
12     12.500000
14    107.616667
18     13.750000
20     13.066667
22     13.600000
24    833.516667
25     21.300000
27     41.466667
28     59.633333
32     30.800000
41     33.316667
Name: playtime_forever, dtype: float64
25    346.766667
26    723.783333
Name: playtime_forever, dtype: float64
2      45.600000
6      16.133333
7      23.066667
12     47.716667
16     27.150000
19     52.116667
22     10.316667
24     17.983333
30     14.533333
34     31.033333
40     17.050000
47     48.350000
48     10.416667
49     24.266667
51    418.600000
53    101.250000
57     28.583333
61     34.450000
71     28.716667
73    304.433333
76     40.583333
78     19.050000
85     32.200000
86     89.750000
87     30.550000
Name: playtime_forever, dtype: float64
25    178.733333
26    158.400000
Name: playtime_forever, dtype: float64
5     29.666667
12    12.416667
15    36.466667
16    17.900000
Name: playtime_forever, dtype: float64
9      11.416667
11    246.050000
12    452.400000
Name: playtime_forever, dtype: float64
2     20.666667
4     50.333333
6     62.050000
8     13.883333
9     22.433333
10    15.616667
Name: playtime_forever, dtype: float64
2       28.216667
3       74.433333
4       11.583333
6       46.133333
9       14.983333
10     878.950000
12    1457.983333
15      12.466667
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
1     41.733333
3    534.016667
Name: playtime_forever, dtype: float64
1      11.850000
2     239.700000
6     375.633333
7      10.783333
8     598.266667
13    699.266667
15     32.900000
16     22.716667
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
0       19.650000
1      106.450000
3       19.466667
6       53.033333
7     1520.200000
8      120.533333
17      11.833333
Name: playtime_forever, dtype: float64
0    140.566667
Name: playtime_forever, dtype: float64
0     31.433333
2    248.100000
3     44.416667
4     18.266667
Name: playtime_forever, dtype: float64
0       27.766667
1       22.050000
27     685.366667
28    1944.800000
30      17.950000
31     359.933333
Name: playtime_forever, dtype: float64
1      13.033333
2      46.583333
6      77.350000
7      75.616667
9     606.133333
10     27.716667
11     48.450000
12    268.916667
14     80.833333
15     20.016667
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
3     75.650000
4    414.216667
5     14.183333
Name: playtime_forever, dtype: float64
5       16.733333
13      25.533333
14      12.116667
15      12.550000
19    1276.800000
21     708.216667
24      27.816667
30      47.533333
31      26.083333
38     861.800000
39      17.333333
41      36.900000
42      27.100000
43      12.000000
Name: playtime_forever, dtype: float64
25    112.283333
26    192.800000
Name: playtime_forever, dtype: float64
1    136.416667
4    293.766667
5     89.166667
Name: playtime_forever, dtype: float64
0     48.083333
5     16.900000
7    203.366667
8     11.266667
Name: playtime_forever, dtype: float64
1      17.483333
5      11.316667
10    557.216667
Name: playtime_forever, dtype: float64
0    171.883333
1    122.266667
Name: playtime_forever, dtype: float64
0     22.133333
1    152.800000
2     89.216667
3    116.116667
6     36.650000
7     72.000000
Name: playtime_forever, dtype: float64
8      13.250000
12    278.100000
25     13.583333
Name: playtime_forever, dtype: float64
0     11.300000
1     57.200000
2     74.716667
29    27.566667
31    59.133333
32    52.400000
37    30.700000
Name: playtime_forever, dtype: float64
1    270.783333
2    231.733333
Name: playtime_forever, dtype: float64
0      11.200000
1     299.283333
4     334.833333
5    1196.466667
6      42.866667
Name: playtime_forever, dtype: float64
0    127.783333
1     10.416667
2     62.766667
Name: playtime_forever, dtype: float64
2     29.383333
3     11.266667
5    169.633333
6     51.800000
Name: playtime_forever, dtype: float64
4    354.200000
5     10.083333
Name: playtime_forever, dtype: float64
26    259.916667
27     17.033333
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
1    203.25
Name: playtime_forever, dtype: float64
0    83.716667
Name: playtime_forever, dtype: float64
5     154.416667
7     381.766667
11     27.183333
18     14.150000
19     83.266667
Name: playtime_forever, dtype: float64
0    169.333333
1     62.950000
Name: playtime_forever, dtype: float64
1    755.95
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
12    1813.666667
Name: playtime_forever, dtype: float64
0    360.583333
Name: playtime_forever, dtype: float64
1    343.35
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
Series([], Name: playtime_forever, dtype: float64)
0    74.883333
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
0    44.05
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
3    165.833333
Name: playtime_forever, dtype: float64
0     1053.983333
9       94.883333
13     904.266667
14      19.183333
Name: playtime_forever, dtype: float64
1      14.583333
15    489.083333
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
0      24.683333
5     217.833333
9     129.700000
20    879.283333
27     55.666667
29     11.100000
32     31.050000
38     10.933333
40     24.516667
Name: playtime_forever, dtype: float64
0    72.55
Name: playtime_forever, dtype: float64
2      35.966667
33    705.083333
Name: playtime_forever, dtype: float64
0    229.55
Name: playtime_forever, dtype: float64
2       25.516667
6       28.783333
13    2008.950000
14      57.283333
Name: playtime_forever, dtype: float64
17    439.4
Name: playtime_forever, dtype: float64
0    120.933333
Name: playtime_forever, dtype: float64
0     89.733333
2    111.466667
Name: playtime_forever, dtype: float64
0    55.866667
Name: playtime_forever, dtype: float64
0    273.35
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
1      20.300000
31    209.200000
32     18.666667
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
1      36.866667
2      25.450000
3      21.983333
4     257.166667
41     12.033333
45    496.950000
50     14.700000
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
22     20.733333
27     46.716667
29    890.716667
34     13.166667
37     10.733333
38     10.800000
41     11.266667
Name: playtime_forever, dtype: float64
4      722.783333
7       24.433333
13    1140.950000
22      33.316667
25      11.300000
29     832.416667
31      11.850000
35      15.633333
48      36.116667
55      14.466667
Name: playtime_forever, dtype: float64
1    169.766667
2    160.200000
3     14.916667
Name: playtime_forever, dtype: float64
26    627.616667
Name: playtime_forever, dtype: float64
9     173.750000
12     12.500000
14    107.616667
18     13.750000
20     13.066667
22     13.600000
24    833.516667
25     21.300000
27     41.466667
28     59.633333
32     30.800000
41     33.316667
Name: playtime_forever, dtype: float64
2     10.216667
4    104.550000
Name: playtime_forever, dtype: float64
2      25.950000
4      19.816667
8     317.383333
10     39.583333
16     17.566667
Name: playtime_forever, dtype: float64
Series([], Name: playtime_forever, dtype: float64)
4      75.983333
7     161.533333
8     986.783333
10    202.866667
11     21.016667
Name: playtime_forever, dtype: float64
0      21.950000
7      27.200000
9      15.683333
14    278.650000
15     13.633333
22     11.683333
Name: playtime_forever, dtype: float64
27    61.333333
28    40.450000
Name: playtime_forever, dtype: float64
3     25.366667
7    770.016667
9    254.466667
Name: playtime_forever, dtype: float64
0    615.033333
Name: playtime_forever, dtype: float64
0    133.933333
Name: playtime_forever, dtype: float64
0    438.366667
1     30.316667
Name: playtime_forever, dtype: float64
0    111.85
Name: playtime_forever, dtype: float64
1    203.25
Name: playtime_forever, dtype: float64

        appid  playtime_forever
3    218620.0      2.555033e-07
10      730.0      3.941693e-08
13   470220.0      2.681415e+00
15   360430.0      1.273937e-01
16   289070.0      6.010193e-02
20   252950.0      5.679887e-03
22   578080.0      1.990667e+02
25   695290.0      1.364333e+02
41  1089350.0      6.436667e+01

In [46]:
#unique_genres = set(game_info['genres'])
unique_genres = []
for game in game_info['genres']:
    if game is not None:
        for genre in game:
            unique_genres.append(genre)
unique_genres = set(unique_genres)
print(unique_genres)

{'Nudity', 'Gore', 'Photo Editing', 'Documentary', 'Violent', 'Free to Play', 'Design & Illustration', 'Game Development', 'Sports', 'Video Production', 'Racing', 'Utilities', 'Adventure', 'Strategy', 'Accounting', 'Tutorial', 'Movie', 'Casual', 'Web Publishing', 'Audio Production', 'RPG', 'Education', 'Sexual Content', 'Episodic', 'Early Access', 'Massively Multiplayer', 'Action', 'Software Training', 'Animation & Modeling', 'Simulation', 'Indie', 'Short'}